<div class="footer-container">
    <div class="footer-container__footer-main-container">
        <div class="footer-main-container__social-container">
            <div class="footer-main-container__social-container__container">
                <img src='../../../assets/images/icons/facebook_icon.svg' alt="Social Icon"/>
                <img src='../../../assets/images/icons/twitter_icon.svg' alt="Social Icon"/>
                <img src='../../../assets/images/icons/youtube_icon.svg' alt="Social Icon"/>
            </div>
            <div class="footer-main-container__social-container__a-container">
                <a>
                    <img src='../../../assets/images//icons/go_back_icon.svg' alt="Back To Top Icon"/>
                </a>
            </div>
        </div>
        <div class="footer-main-container__resources-container">
            <span class="footer-main-container__resources-container__resources-title">Resources</span>
            <div class="footer-main-container__resources-container__resources-inner-container">
                <div>
                    <a>Support-A-Creator</a>
                    <a>Publish on X Games</a>
                    <a>Careers</a>
                    <a>Company</a>
                </div>
                <div>
                    <a>Fan Art Policy</a>
                    <a>UX Research</a>
                    <a>Store EULA</a>
                </div>
                <div>
                    <a>Online Services</a>
                    <a>Community Rules</a>
                    <a>X Newsroom</a>
                </div>
            </div>
        </div>
        <div class="footer-main-container__hr"></div>
        <div class="footer-main-container__copy-right-container">
            <p>© 2022, X Games, Inc. All rights reserved. X, X Games, the X Games logo are trademarks or registered trademarks of X Games, Inc. in the United States of America and elsewhere. Other brands or product names are the trademarks of their respective owners. Non-US transactions through Epic Games International, S.à r.l.   </p>
        </div>
        <div class="footer-main-container__bottom-container"> 
            <div>
                <a>Terms of Service</a>
                <a>Privacy Policy</a>
                <a>Store Refund Policy</a>
            </div>
            <div>
                <img src="../../../assets/images/bottom_logo.svg" alt="Logo"/>
            </div>
        </div>
    </div>
</div>
