.game {
    width: 280px;
    margin: 10px;
    overflow: hidden;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover{
      transform: translateY(-5px);
    } 

    &-thumb-container {
      background-color: #000;
      position: relative;
      height: 300px;
      width: 100%;
      color: #fff;
      background-color: transparent;
      text-align: center;

      &p{
        padding-top: 150px;
      }
    }
  
    &-thumbnail {
      background-color: transparent;
      object-fit: cover;
      margin: 0 auto;
      height: 300px;
      width: 100%;
      border-radius: 10px;
    }
  
    &-description {
      padding-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  
    &-name {
      color: #fff;
      font-weight: 400;
      font-size: 16.5px;
      margin-bottom: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: 'Source Sans Pro', sans-serif;
    }
  
    &-platforms {
      display: flex;
      padding-left: 2px;
    }
  
    &-platform {
      width: 13px;
      margin-right: 10px;
    }
  }