<div class="search-container">
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select
        panelClass="sort-select"
        [(ngModel)]="sort"
        (selectionChange)="searchGames(sort)"
      >
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="input-container">
      <button class="button">
        <img src='../../../assets/images/icons/search_icon.svg' alt="Search Icon"/>
      </button>
      <input
        class="input"
        name="search"
        ngModel
        placeholder="Search"
      />
    </div>
  </form>
  <div class="games">  
      <app-game-item [game]="game" *ngFor="let game of games">
      </app-game-item>
  </div>
</div>
